$color-border: #1A85C2;
$color-confirm-button: #1A85C2;
$color-cancel-button: #d9e0e4;
$font-header-title: 32px;
$font-header-right: 16px;
$themes: (
    skin1:(
        background-theme: #024685,
        color-text: #fff,
        background-subtitle: #437EB9,
    ),
    skin2:(
        background-theme: #e86079,
        color-text: #fff,
        background-subtitle: #db7688,
    ),
    skin3:(
        background-theme: #4EDB96,
        color-text: #fff,
        background-subtitle: #95f6c7,
    )
)