// 主题背景色
@mixin get-backColor($color){
    @each $themeName,$theme in $themes{
        // 循环global.scss文件中的 $themes
        // $themeName 是 键 default-theme
        // $theme 是 值 (background-header: #024685,)
        [dataskin = '#{$themeName}'] & {
            // 当元素中设置有 data-skin 属性，并且属性值是'#{$themeName}'
            background-color: map-get($theme, $color );
        }
    }
}
// 主题字体色
@mixin get-textColor($color){
    @each $themeName,$theme in $themes{
        [dataskin = '#{$themeName}'] & {
            color: map-get($theme, $color );
        }
    }
}
// 副题背景色
@mixin get-backColorSubtitle($color){
    @each $themeName,$theme in $themes{
        [dataskin = '#{$themeName}'] & {
            background-color: map-get($theme, $color );
        }
    }
}
// @mixin get-fontColor(){
    
// }